{% extends 'base.html' %}

{% block body %}
<style type="text/css">
.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #55555;
  background-color: #000000;
  border-radius: 6px;
  border: 2px solid #00001;
}
</style>

<html>
<body>

<center>
<h2>¿Qué quieres hacer?</h2>
<img src="/static/imgs/ravenclaw.png" alt="Girl in a jacket" width="500" height="600">
<!-- <a class="boton_personalizado" href="/registerempleados" >Regristrarse</a> -->
<a class="boton_personalizado" href="/loginEmpleados">Ingresar</a>
</center>
</body>
</html>

{%endblock%}
